@import "tailwindcss";

*{
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background: #f5f0f0;
    color: #3e3e3e;
    overflow-x: hidden;
}

p{
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 7px !important;
    height: 7px !important; 
}

.overflow-x-auto::-webkit-scrollbar-thumb {
    background: #ccc ;
}

.Reviewscroll::-webkit-scrollbar {
    width: 3.5px !important;
    height: 7px !important; 
}

.Reviewscroll::-webkit-scrollbar-thumb {
    background: #ccc !important;
}

::-webkit-scrollbar-thumb {
    background: #01065d
}
::-webkit-scrollbar-track {
    background: #fff
}

.container {
    width: 95%;
    margin: auto;
}

.bg-primary{
    background: #01065d !important;
}

.border-primary{
    border: 1px solid #01065d !important;
}

.text-primary{
    color: #01065d !important;
}

.btn-org{
    background: #01065d !important;
    color: #fff !important;
    font-weight: 500;
    font-size: 16px;
    padding: 7px 20px !important;
}
.btn-org:hover{
    background: #171717 !important;
    color: #fff !important;
}

.btn-org.btn-border{
    background: none !important;
    color: #01065d !important;
    border: 1px solid #01065d !important;
    font-weight: 500;
    font-size: 16px;
    padding: 7px 20px !important;
}

.btn-org.btn-border:hover{
    background: #171717 !important;
    color: #fff !important;
    border: 1px solid #01065d !important; 
}

.btn-dark{
    background: #363636 !important;
    color: #fff !important;
    border: 1px solid #171717 !important;
}
.btn-dark:hover{
    background: #171717 !important;
}

.btn-lg{
    font-size: 18px;
    padding: 10px 20px !important;
}

.btn-sm{
    font-size: 12px;
    padding: 5px 20px !important;
}

/* header .top-strip{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
} */

.link:hover, .Mui-checked{color: #01065d !important;}

.MuiBadge-badge{background-color: #01065d !important;}

nav ul button{
    text-transform: capitalize !important;
}

nav ul button:hover{
    background-color: none !important;

}

.sliderHome {
    overflow: inherit !important;
};

.swiper-button-prev, .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 100%;
    padding: 7px;
    width: 35px;
    height: 35px !important;
    min-width: 35px;
    box-shadow: 0, 1px 3px #0000001f, 1 1px 2px #0000003d !important;
    --swiper-navigation-color: #000 !important;
    --swiper-navigation-size: 22px !important;
    color: #000 !important;
};

.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 22px !important;
    color: #000 !important;
}

.smalBtn .swiper-button-prev, .smalBtn .swiper-button-next   {
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
    top: 55% !important;
}

.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 22px !important;
    color: #000;
}

.homeCatSlider .swiper-button-prev {
    width: 30px;
    height: 30px;
    min-width: 30px;
}
.homeCatSlider .swiper-button-next {
    width: 30px;
    height: 30px;
    min-width: 30px;
}

.homeCatSlider .swiper-button-prev::after{
    font-size: 18px !important;
}
.homeCatSlider .swiper-button-next::after{
    font-size: 18px !important;
}

.homeCatSlider .item:hover img{
    transform: scale(1.1);
}


.MuiTabs-indicator {
    background-color: #01065d !important;
}

.MuiTab-textColorPrimary.Mui-selected {
    color: #01065d !important;
}

.productsSlider .swiper-wrapper {
    padding: 15px;
    margin-left: -14px !important;
    margin-right: -15px !important;
}

footer form input::placeholder {
    font-size: 14px;
}


.css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root.Mui-checked, .css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
    color: #01065d!important;
}

.MuiFormControlLabel-label {
    font-size: 13px !important;
    color: rgba(0,0,0,0.8) !important;
}

.swiper-pagination-bullet-active {
    background: #01065d !important;
}

.HomeSliderV2 .swiper-slide-active .info {
    right: 0px !important;
    opacity: 1;
}

.HomeSliderV2 .swiper-slide-active .info h4 {
    right: 0px !important;
    opacity: 1;
}

.HomeSliderV2 .swiper-slide-active .info h3 {
    right: 0px !important;
    opacity: 1;
}

.HomeSliderV2 .swiper-slide-active .info h2 {
    right: 0px !important;
    opacity: 1;
}

.HomeSliderV2 .swiper-slide-active .info .btn {
    right: 0px !important;
    opacity: 1;
}

.HomeSliderV2 .info h4 {
    transition-duration: 1.2s;
}
.HomeSliderV2 .info h2 {
    transition-duration: 1.5s;
}
.HomeSliderV2 .info h3 {
    transition-duration: 1.8s;
}

.HomeSliderV2 .info .btn {
    transition-duration: 2s;
}

.MuiCheckbox-root{
    padding: 6px !important;
}

.ReactCollapse--collapse {
    transition: height 400ms;
}

.itemViewActions button.active svg{
    color: #01065d !important;
    opacity: 1;
}

.Mui-selected.MuiPaginationItem-page{
    background-color: #01065d !important;
    color: #fff !important;
}
.shadow-md,.shadow-lg{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
}

.zoomProductSliderThumbs.space .swiper-wrapper {
    padding-top: 38px !important;
}
.zoomProductSliderThumbs .swiper-button-next{
    bottom: 0px !important;
    left: 11px !important;
    width: 100% !important;
    height: 30px !important;
    background: rgb(255, 255, 255, 0.6) !important;
    border-radius: 0px !important;
}

.zoomProductSliderThumbs .swiper-button-prev{
    top: 0px !important;
    left: 11px !important;
    width: 100% !important;
    height: 30px !important;
    background: rgb(255, 255, 255, 0.6) !important;
    border-radius: 0px !important;
}
.zoomProductSliderThumbs .swiper-button-prev::after, .zoomProductSliderThumbs .swiper-button-next::after {
    font-size: 18px !important;
    color: #ab2828 !important;
}

.zoomProductSliderThumbs .swiper-button-prev:hover, .zoomProductSliderThumbs .swiper-button-next:hover{
    background: #01065d !important;
}

.productContent .actions button{
    min-width: 40px !important;
    border: 1px solid rgba(0,0,0,0.1) !important;
    height: 30px !important;
    color: rgba(0,0,0,0.7) !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
    appearance: none;
}

.productDetailsModal .MuiDialogContent-root{
    padding: 0px !important;
}

.cartPanel .MuiPaper-root{
    width: 400px;
    overflow: hidden;
}

.addressPanel .MuiPaper-root{
    width: 500px;
    overflow: hidden;
}

#size-menu .MuiButtonBase-root{
    font-size: 12px !important;
}

.otpBox input{
    border: 1px solid rgba(0,0,0,0.3) !important;
    outline: none !important;
    border-radius:4px;
}
.otpBox input:focus{
    border: 1px solid rgba(0,0,0,0.7) !important;
}
.otpPage .container{
    height: 90vh;
    display: flex;
}

#account-menu .MuiPaper-root{
    width: 200px !important;
}  

.myAccountTabs li a{
    position : relative;
    display: block;
}

.myAccountTabs li a:before{
    content: "";
    width: 3px;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 0px;
    background: #01065d;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.myAccountTabs li a.active::before{
    height: 100%;
    opacity: 1;
    top: 0px;
}

.myAccountTabs li a.active button svg{
    color: #01065d !important;
    opacity: 1 !important;
}

button .MuiCircularProgress-root {
    width: 30px !important;
    height: 30px !important;
}

.react-international-phone-input {
    width: 82% !important;
}
.react-international-phone-country-selector-button {
    width: 55px !important;
}
/* .react-international-phone-input-container {
    border: 1px solid rgba(0,0,0,0.1) !important;
} */

.MuiDialog-paper{
    width: 700px !important;
    max-width: 700px !important;
}

.productDetailsModal .MuiDialog-paper{
    width: 1200px !important;
    max-width: 1200px !important;
}

header{
    box-shadow: 0px 2px 5px #0000001e;
}

#paypal-button-container {
    width: 100% !important;
}

.searchBox .MuiCircularProgress-root {
    width: 20px !important;
    height: 20px !important;
}

.mySwiper {
    padding-right: 5px !important;
    padding-left: 5px !important;
}